body
{
  background-image: linear-gradient(to right,mintcream,#F3F0D7);
}
hr
{
  border-color: lightgrey;
  border-top-style: dotted;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-width: thick;
  width: 10%;
}
h1{
  color: forestgreen;
  background-color: lightgrey;
  /*font-family:"Lobster script=latin rev=2";
  font-style: oblique;
  font-weight: bolder;
  width: 40%;*/
    font-family: "Lobster script=latin rev=2";
    font-weight: bolder;
    font-style: oblique;
    line-height:normal;
    width: 40%;
  }
h3{color:forestgreen;}
a:link{color:blue;}
a:visited{color: grey;}
a:hover {
  color: purple;
  font-size: 22px;}
img:hover{background-color: black;}
